body {
    background: #F2F7FF !important;
}

/* Header */

.head {
    display: flex;
}

img {
    width: 22px;
    height: 22px;
}

.ltdata {
    margin-left: 10px;
    color: #BFBFBF;
    font-size: 18px;
}

.rtdata {
    color: #464646;
}

/* middata */



.middata {
    padding: 20px 49px 0px 49px;
    margin-top: 40px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 16px;
    opacity: 1;
}

.uppermiddata {
    display: grid;
    grid-template-columns:50% 50%;
    justify-content: space-between;
    align-items: center;
}

.cancel-transfer-btn-container {
    text-align: end;
}

.cancel-transfer-btn-container a {
    padding: 5px 20px;
    margin-right: 10px;
    display: inline-block;
    background-color: transparent;
    color: #464646;
    border: 1px solid #707070;
    border-radius: 10px;
    font-weight: 600;
    font-size: 14px;
    text-decoration: none !important;
}

.cancel-transfer-btn-container a:hover {
    color: #464646;
}

.btndatas {
    border: 1px solid #F86847;
    background-color: #F86847;
    padding: 5px 20px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
.btnReject {
    border: 1px solid #F86847;
    background-color: red;
    padding: 5px 20px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.coloureddata {
    color: #0CAF38;
}

.avtar {
    height: 156px;
    width: 156px;
    box-shadow: 0px 10px 20px #00000029;
    border: 3px solid #FFFFFF;
    border-radius: 50%;
}

.mleft-50 {
    margin-left: 50px !important;
    margin-top: 40px;
    color: #797979;
}

.mleft-51 {
    margin-left: 130px !important;
    margin-top: 40px;
    color: #130F26;
    margin-left: 100px;
    font: normal normal 600 16px/22px Sans-serif;
    letter-spacing: 0px;
    color: #130F26;
    opacity: 1;
}

.mleft-52 {
    margin-left: 12px !important;
    margin-top: 40px;
    color: #797979;
}

.withdrawals-view-detail-main-container {
    padding-top: 40px;
}

.withdrawals-details-heading {
    padding-bottom: 37px;
}

.withdrawals-user-details {
    color: #130F26;
    font-weight: 600;
}

.withdrawals-user-details, .withdrawals-details-heading {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* lowerdata */
.lowermid {
    display: flex;
}

.mldata {
    margin-left: 60px !important;
}

.lmldata {
    display: flex;
}





/* buttondata */

.btndata {
    display: flex;
    border: none;
    /* margin-left:10%; */
    margin-top: 5%;
}

.btndata2 {
    margin-left: 25%;
}

.blockdata {
    color: #464646;
    padding: 10px 50px;
    background-color: transparent;
    border-radius: 10px;
    border: 0.5px solid #A2A1A1;
    margin-left: 20px;
}

.removedata {
    padding: 10px 50px;
    color: #FFFFFF;
    font: normal normal 400 18px/24px Sans-serif;
    letter-spacing: 0px;
    opacity: 1;
    background-color: #F86847;
    border-radius: 10px;
    border: none;
}

.viewdata {
    padding: 10px 30px;
    color: #FFFFFF;
    font: normal normal 400 18px/24px Sans-serif;
    letter-spacing: 0px;
    opacity: 1;
    background-color: #32A4FC;
    margin-left: 20px;
    border-radius: 10px;
    border: none;
}

.bottomdata {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.usersalary {
    font: normal normal 600 18px/24px Sans-serif;
    letter-spacing: 0px;
    color: #464646;
    opacity: 1;
    margin-left: 10px;
}

.viewsalary {
    text-decoration: underline;
    font: normal normal 600 16px/22px Sans-serif;
    letter-spacing: 0px;
    color: #32A4FC;
    opacity: 1;
    margin-right: 48px;
}


@media(max-width:900px) {
    .avtar {
        height: 130px;
        width: 130px;
    }

    .btndatas {
        border: none;
        background-color: #F86847;
        padding: 5px 10px;
        border-radius: 10px;
        ;
        font: normal normal 600 12px/17px Sans-serif;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
    }

    .uppermid {
        display: grid;
    }

    .avtar {
        height: 156px;
        width: 156px;
        box-shadow: 0px 10px 20px #00000029;
        border: 3px solid #FFFFFF;
        border-radius: 50%;
    }

    .mleft-50 {
        margin-left: 12px !important;
        margin-top: 40px;
        color: #797979;
    }

    .mleft-51 {
        margin-left: 130px !important;
        margin-top: 40px;
        color: #130F26;
        margin-left: 100px;
        font: normal normal 600 16px/22px Sans-serif;
        letter-spacing: 0px;
        color: #130F26;
        opacity: 1;
    }

    .mleft-53 {
        margin-left: 130px !important;
        margin-top: 40px;
        color: #130F26;
        margin-left: 100px;
        font: normal normal 600 16px/22px Sans-serif;
        letter-spacing: 0px;
        color: #130F26;
        opacity: 1;
    }

    .mleft-52 {
        margin-top: 40px;
        color: #797979;
    }

    .mleft-54 {
        margin-left: 144px !important;
        margin-top: 40px;
        color: #130F26;
        margin-left: 100px;
        font: normal normal 600 16px/22px Sans-serif;
        letter-spacing: 0px;
        color: #130F26;
        opacity: 1;
    }

    .ldata {
        margin-top: 34px;
    }



    /* lowerdata */

    .lowermid {
        display: grid;
    }

    .mldata {
        margin-left: 10px !important;
    }

    .btndata2 {
        margin-left: 20%;
    }
}

@media(max-width:800px) {
    .btndata2 {
        margin-left: 10%;
    }
}

@media(max-width:610px) {
    .avtar {
        height: 100px;
        width: 100px;
    }

    .btndata2 {
        margin-left: 0%;
    }

    .btndata {
        display: grid;
        width: 100%;
        border: none;
        /* margin-left:10%; */
        margin-top: 5%;
    }

    .blockdata {
        padding: 10px 60px;
        margin-top: 10px;
        margin-left: 0;
    }

    .removedata {
        padding: 10px 50px;
    }

    .viewdata {
        padding: 10px 40px;
        margin-top: 10px;
        margin-left: 0;
    }
}

@media(max-width:611px) {
    /* .reso{
        min-width:100px;

    } */
    button {
        margin-right: 10px;
    }

    .mleft-51 {
        margin-left: 90px !important;
    }

    .mleft-53 {
        margin-left: 95px !important;
    }

    .mleft-54 {
        margin-left: 107px !important;
    }

    .empdata {
        margin-right: 10px;
    }

    .middata {
        padding-left: 10px;
    }
}

@media(max-width: 480px) {

    .viewsalary {
        text-decoration: underline;
        font: normal normal 600 16px/22px Sans-serif;
        letter-spacing: 0px;
        color: #32A4FC;
        opacity: 1;
        margin-right: 30px;
    }

    .uppermiddata {
        grid-template-columns: 100%;
    }

    .avtar {
        margin: auto;
    }

    .cancel-transfer-btn-container {
        margin-top: 20px;
        text-align:center;
    }
}

