@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/css/UserProfileCss/UserProfile.css" rel="stylesheet" />
    <title></title>
</head>
<body>
    <div class="padding">
        <div class="content-main-container">

            <div class="personal-info-text">Personal Info</div>

            <div class="personal-info-container row">
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div>
                        <div class="content">First Name</div>
                        <div class="content text-bold">Michael</div>
                    </div>
                    <div>
                        <div class="content">Date of birth</div>
                        <div class="content text-bold">12-01-90</div>
                    </div>

                </div>
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div>
                        <div class="content">Last Name</div>
                        <div class="content text-bold">Gerald</div>
                    </div>
                    <div>
                        <div class="content">Gender</div>
                        <div class="content text-bold">Male</div>
                    </div>

                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div>
                        <div class="content">Email ID</div>
                        <div class="content text-bold">alex.deo45@gmail.com</div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div>
                        <div class="content">Phone Number</div>
                        <div class="content text-bold important-text">9876543210</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="padding">
        <div class="content-main-container">

            <div class="personal-info-text">Address Details</div>

            <div class="personal-info-container row">
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div>
                        <div class="content">Home Address</div>
                        <div class="content text-bold">Lorem Ipsum Lorem Ipsum</div>
                    </div>
                    <div>
                        <div class="content">Postal Code</div>
                        <div class="content text-bold">123456</div>
                    </div>

                </div>
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div>
                        <div class="content">Country</div>
                        <div class="content text-bold">Nigeria</div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div>
                        <div class="content">State</div>
                        <div class="content text-bold">Nigeria</div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div>
                        <div class="content">City</div>
                        <div class="content text-bold">Nigeria</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="padding">
        <div class="content-main-container">

            <div class="personal-info-text">Employer Info</div>

            <div class="personal-info-container row">
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div>
                        <div class="content">Employer Name</div>
                        <div class="content text-bold">Lorem Ipsum Lorem Ipsum</div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div>
                        <div class="content">Staff ID</div>
                        <div class="content text-bold">1234</div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div>
                        <div class="content">Net Pay /  month</div>
                        <div class="content text-bold">100,00</div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div>
                        <div class="content">Gross Pay / month</div>
                        <div class="content text-bold">150,00</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="padding">
        <div class="content-main-container">

            <div class="personal-info-text">Account Details</div>

            <div class="personal-info-container row">
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div>
                        <div class="content">Bank Name</div>
                        <div class="content text-bold">Lorem Ipsum</div>
                    </div>
                    <div>
                        <div class="content">Status</div>
                        <div class="content text-bold status-info-text">Active</div>
                    </div>

                </div>
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div>
                        <div class="content">Account Number</div>
                        <div class="content text-bold important-text">1234</div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div>
                        <div class="content">BVN Number</div>
                        <div class="content text-bold">100,00</div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-6 float-right">
                    <div>
                        <div class="content">Bank Account Holder Name</div>
                        <div class="content text-bold">Lorem Ipsum</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="padding">
        <div class="btn-container">
            <div class="side-padding">
                <div class="deactivate-btn personal-info-btn">Deactivate</div>
            </div>

            <div class="side-padding">
                <div class="remove-btn personal-info-btn">Remove</div>
            </div>

            <div class="side-padding">
                <div class="withdrawal-btn personal-info-btn">Withdrawals</div>
            </div>
        </div>
    </div>
</body>
</html>
