

@{
    ViewBag.Title = "Early Wage Access";
}

@*<link href="~/Content/css/WithdrawalCss/withdrawals.css" rel="stylesheet" />*@
<link rel="stylesheet" href="~/Content/css/early-wage-user.css">
<div class="loader" id="loader1"></div>
<link href="~/Content/css/Loader/Loader.css" rel="stylesheet" />
<script src="~/Content/js/EWA/EWA.js"></script>

<div class="main_div">
    <div class="sec_div">
        <div class="drop_down">
            <div class="drop_select">
                <span class="status-text">Status</span>
                <select name="cars" id="ddlStatus">
                    <option value="-1">All</option>
                    <option value="1">Approved</option>
                    <option value="3">Rejected</option>
                    <option value="6">Hold</option>
                    <option value="0">Pending</option>
                </select>
            </div>
            <div class="date_option">
                <div class="date_from">
                    <span>From</span>
                    <span style="position: relative">
                        <input type="text" class="to_date" placeholder="MM/DD/YYYY" id="txtFromDate">
                        <i class="fa fa-calendar-check-o calender" aria-hidden="true" id="calender_from"></i>
                    </span>
                    <div>
                        <span id="fromdateError" style="color:red"></span>
                    </div>

                </div>

                <div class="date_from">
                    <span>TO</span>
                    <span style="position: relative">
                        <input type="text" class="to_date" placeholder="MM/DD/YYYY" id="txtEnddate">
                        <i class="fa fa-calendar-check-o calender" aria-hidden="true" id="calender_to"></i>
                    </span>
                    <div>
                        <span id="TodateError" style="color:red"></span>
                    </div>

                </div>

                @*<div class="date_from">
                        To
                        <input type="text" class="to_date" id="txtEnddate" placeholder="select date">
                        <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
                    </div>
                    <div>
                        <span id="TodateError" style="color:red"></span>
                    </div>*@
                <div>
                    <button class="reset" id="btnReset">Reset</button>
                </div>
                <div>
                    <button class="filter" id="btnFilter">Fliter</button>
                </div>
            </div>

        </div>
        <div class="tab_data">
            <div class="tab_data1">
                <div class="main_transaction">
                    <div class="text">
                        Withdrawals
                    </div>
                    <div class="sec_transaction">
                        <div class="csvexport-container">
                            <button type="button" class="csvexport" id="btnExportToCSV">Export To CSV</button>
                        </div>

                        <div class="search_icon">
                            <input type="search" placeholder="Search" class="search" id="employeeSearch">

                            <img class="search-img" src="~/Content/img/search-line.svg" />
                        </div>
                        <div>
                        </div>
                    </div>

                </div>

                <div class="over-flow">
                    <table class="table-details">
                        <tr>
                            <th class="table-head">S.No</th>
                            <th class="table-head">User Name</th>
                            <th class="table-head">Employer Name</th>
                            <th class="table-head">Email Id</th>
                            <th class="table-head">Phone Number</th>
                            <th class="table-head">Amt. Requested</th>
                            <th class="table-head">Employer Status</th>
                            <th class="table-head">Admin Status</th>
                            <th class="table-head">User Type</th>
                            <th class="table-head">Date</th>
                            <th class="table-head">Action</th>
                        </tr>
                        <tbody id="userList">
                        </tbody>
                    </table>
                </div>
                <div class="card" id="noRecordFound">
                    <div class="card-body" style="text-align:center">
                        No record found.
                    </div>
                </div>

            </div>
        </div>


        <div class="pagination">
            <ul id="emplyr_pagination" class="pagination"></ul>
        </div>

    </div>
</div>



