
@{
    ViewBag.Title = "Change Password";
}
<script src="~/Content/js/Account/ChangePassword.js"></script>
<link href="~/Content/css/Account/changepass.css" rel="stylesheet" />
<div class="mainBody">
    <div class="position-relative d-inline-block create-pswd-input-container-height">
        <label for="" class="position-absolute label">Current Password</label>
        <div class="position-relative">
            <input type="password" class="create-pswd-input-text form-control" placeholder="Enter your old password" id="txtOldPassword" minlength="8" maxlength="30"/>

            <span id="txtPasswordRegister1" toggle="#password-field" class="position-absolute img-eye fa fa-fw fa-eye-slash field_icon toggle-password "></span>
        </div>
        <div>
            <span id="txtPasswordChangeOldError" style="color: red; float: left;padding-top:4px" ;></span>
        </div>
        <div id="strengthMessage1"></div>
    </div>

    <div class="position-relative d-inline-block create-pswd-input-container-height">
        <label for="" class="position-absolute label">New Password</label>
        <div class="position-relative">
          
          
            <input type="password" class="create-pswd-input-text form-control" placeholder="Enter your new password" id="txtNewPassword" minlength="8" maxlength="30"/>

            <span id="txtNewPasswordIcon" toggle="#password-field" class="position-absolute img-eye fa fa-fw fa-eye-slash field_icon toggle-password "></span>

        </div>
        <div>
            <span id="txtPasswordChangePassError" style="color: red; float: left;padding-top:4px" ;></span>
        </div>
        <span id="txtPasswordChangeError" style="color: red;float:left">

        </span>
        <div id="strengthMessage1"></div>
    </div>

    <div class="position-relative d-inline-block create-pswd-input-container-height">
        <label for="" class="position-absolute label">Confirm Password</label>
        <div class="position-relative">

            <input type="password" class="create-pswd-input-text form-control" placeholder="Retype your password" id="txtconfirmPassword" />
            <span id="txtconfirmPasswordIcon" toggle="#password-field" class="position-absolute img-eye fa fa-fw fa-eye-slash field_icon toggle-password "></span>
        </div>
        <div>
            <span id="spntxtForgeContPasswordError" style="color: red; float: left"></span>
        </div>
        <div>
            <span id="txtConPasswordChangePassError" style="color: red; float: left"></span>
        </div>
    </div>
    
    <div class="pt-5">
        <button type="button" class="login-btn cancelBtn py-2 text-light" id="btnCancel">Cancel</button>
        <button type="button" class="login-btn py-2 text-light" id="btnChangePassword">Save</button>
    </div>
</div>